OK so unless you know me personally you won't get to see this haha. It's a little embarrassing. Feel free to reach out to me for the actual file if you want (if you know me personally of course).

Otherwise, just specify your bot's personality here. How it should speak and act, things like that.